In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("forestfires.csv")
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [ ]:
bins = [0.0, 1.0, 2.0, 1100.0]
labels = ['Not affected', 'Partially affected', 'Mostly affected']
df['area'] = pd.cut(df['area'], bins=bins, labels=labels, right=False)

In [ ]:
df

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,Not affected
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,Not affected
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,Not affected
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,Not affected
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,Not affected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,4,3,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,Mostly affected
513,2,4,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,Mostly affected
514,7,4,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,Mostly affected
515,1,4,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,Not affected
516,6,3,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,Not affected

In [ ]:
df['area'].unique()

['Not affected', 'Partially affected', 'Mostly affected']
Categories (3, object): ['Not affected' < 'Partially affected' < 'Mostly affected']

In [ ]:
df['area'].value_counts()['Mostly affected']

208

In [ ]:
df['area'].value_counts()['Partially affected']

35

In [ ]:
df['area'].value_counts()['Not affected']

274

In [ ]:
not_affected = df[df['area'] == 'Not affected']
partially_affected = df[df['area'] == 'Partially affected']
mostly_affected = df[df['area'] == 'Mostly affected']

In [ ]:
not_affected

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,Not affected
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,Not affected
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,Not affected
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,Not affected
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,Not affected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,1,2,aug,fri,91.0,166.9,752.6,7.1,25.9,41,3.6,0.0,Not affected
510,6,5,aug,fri,91.0,166.9,752.6,7.1,18.2,62,5.4,0.0,Not affected
511,8,6,aug,sun,81.6,56.7,665.6,1.9,27.8,35,2.7,0.0,Not affected
515,1,4,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,Not affected
516,6,3,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,Not affected

In [ ]:
partially_affected

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
148,2,2,aug,tue,94.8,108.3,647.1,17.0,17.4,43,6.7,0.0,Partially affected
149,8,6,sep,thu,93.7,80.9,685.2,17.9,23.7,25,4.5,0.0,Partially affected
150,6,5,jun,fri,92.5,56.4,433.3,7.1,23.2,39,5.4,0.0,Partially affected
151,9,9,jul,sun,90.1,68.6,355.2,7.2,24.8,29,2.2,0.0,Partially affected
152,3,4,jul,sat,90.1,51.2,424.1,6.2,24.6,43,1.8,0.0,Partially affected
153,5,4,sep,fri,94.3,85.1,692.3,15.9,20.1,47,4.9,0.0,Partially affected
154,1,5,sep,sat,93.4,145.4,721.4,8.1,29.6,27,2.7,0.0,Partially affected
155,7,4,aug,sun,94.8,108.3,647.1,17.0,16.4,47,1.3,0.0,Partially affected
156,2,4,sep,sat,93.4,145.4,721.4,8.1,28.6,27,2.2,0.0,Partially affected
157,2,2,aug,wed,92.1,111.2,654.1,9.6,18.4,45,3.6,0.0,Partially affected
158,2,4,aug,wed,92.1,111.2,654.1,9.6,20.5,35,4.0,0.0,Partially affected
159,7,4,sep,fri,92.4,117.9,668.0,12.2,19.0,34,5.8,0.0,Partially affected
160,7,4,mar,mon,90.1,39.7,86.6,6.2,16.1,29,3.1,0.0,Partially affected
161,6,4,aug,thu,95.2,131.7,578.8,10.4,20.3,41,4.0,0.0,Partially affected
162,6,3,mar,sat,90.6,50.1,100.4,7.8,15.2,31,8.5,0.0,Partially affected
163,8,6,sep,sat,92.5,121.1,674.4,8.6,17.8,56,1.8,0.0,Partially affected
253,7,4,aug,thu,91.9,109.2,565.5,8.0,21.4,38,2.7,0.0,Partially affected
259,7,4,aug,sat,91.8,170.9,692.3,13.7,23.7,40,1.8,0.0,Partially affected
263,6,3,aug,fri,91.1,141.1,629.1,7.1,19.3,39,3.6,0.0,Partially affected
283,3,4,feb,wed,86.9,6.6,18.7,3.2,8.8,35,3.1,0.0,Partially affected
314,4,4,sep,wed,92.6,115.4,777.1,8.8,19.7,41,1.8,0.0,Partially affected
322,6,5,sep,thu,92.8,119.0,783.5,7.5,16.8,28,4.0,0.0,Partially affected
339,2,4,sep,mon,91.6,108.4,764.0,6.2,20.4,41,1.8,0.0,Partially affected
349,5,4,sep,fri,92.1,99.0,745.3,9.6,12.8,64,3.6,0.0,Partially affected
353,7,4,sep,fri,92.1,99.0,745.3,9.6,19.8,47,2.7,0.0,Partially affected
356,4,4,sep,fri,92.1,99.0,745.3,9.6,20.8,35,4.9,0.0,Partially affected
360,6,5,sep,fri,92.5,122.0,789.7,10.2,18.4,42,2.2,0.0,Partially affected
366,4,5,sep,tue,91.1,132.3,812.1,12.5,15.9,38,5.4,0.0,Partially affected
412,9,4,jul,mon,92.3,92.1,442.1,9.8,22.8,27,4.5,0.0,Partially affected
441,8,6,aug,mon,92.1,207.0,672.6,8.2,25.5,29,1.8,0.0,Partially affected
459,7,4,aug,sat,91.6,273.8,819.1,7.7,15.5,72,8.0,0.0,Partially affected
472,8,3,jun,mon,88.2,96.2,229.0,4.7,14.3,79,4.0,0.0,Partially affected
476,4,3,jul,thu,93.5,85.3,395.0,9.9,27.2,28,1.3,0.0,Partially affected
482,3,4,aug,sun,94.9,130.3,587.1,14.1,23.4,40,5.8,0.0,Partially affected
503,2,4,aug,wed,94.5,139.4,689.1,20.0,29.2,30,4.9,0.0,Partially affected

In [ ]:
mostly_affected

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
164,8,5,sep,sun,89.7,90.0,704.4,4.8,17.8,67,2.2,0.0,Mostly affected
165,6,5,mar,thu,84.9,18.2,55.0,3.0,5.3,70,4.5,0.0,Mostly affected
166,6,5,aug,wed,92.1,111.2,654.1,9.6,16.6,47,0.9,0.0,Mostly affected
167,6,5,aug,wed,96.0,127.1,570.5,16.5,23.4,33,4.5,0.0,Mostly affected
168,6,5,mar,fri,91.2,48.3,97.8,12.5,14.6,26,9.4,0.0,Mostly affected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,1,2,aug,thu,91.0,163.2,744.4,10.1,26.7,35,1.8,0.0,Mostly affected
509,5,4,aug,fri,91.0,166.9,752.6,7.1,21.1,71,7.6,1.4,Mostly affected
512,4,3,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,Mostly affected
513,2,4,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,Mostly affected
514,7,4,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,Mostly affected

In [ ]:
merged = pd.concat([not_affected, partially_affected])
merged

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,Not affected
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,Not affected
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,Not affected
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,Not affected
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,Not affected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,7,4,aug,sat,91.6,273.8,819.1,7.7,15.5,72,8.0,0.0,Partially affected
472,8,3,jun,mon,88.2,96.2,229.0,4.7,14.3,79,4.0,0.0,Partially affected
476,4,3,jul,thu,93.5,85.3,395.0,9.9,27.2,28,1.3,0.0,Partially affected
482,3,4,aug,sun,94.9,130.3,587.1,14.1,23.4,40,5.8,0.0,Partially affected
503,2,4,aug,wed,94.5,139.4,689.1,20.0,29.2,30,4.9,0.0,Partially affected

In [ ]:
df.sort_values(by='temp', ascending=False)

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
498,6,5,aug,tue,96.1,181.1,671.2,14.3,33.3,26,2.7,0.0,Mostly affected
484,2,5,aug,sun,94.9,130.3,587.1,14.1,33.1,25,4.0,0.0,Mostly affected
496,4,5,aug,mon,96.2,175.5,661.8,16.8,32.6,26,3.1,0.0,Mostly affected
492,1,3,aug,fri,95.9,158.0,633.6,11.3,32.4,27,2.2,0.0,Not affected
491,4,4,aug,thu,95.8,152.0,624.1,13.8,32.4,21,4.5,0.0,Not affected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,4,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,Mostly affected
277,3,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,Mostly affected
276,4,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,Mostly affected
282,6,3,feb,sun,84.9,27.5,353.5,3.4,4.2,51,4.0,0.0,Not affected
280,4,6,dec,fri,84.7,26.7,352.6,4.1,2.2,59,4.9,0.0,Mostly affected

In [ ]:
df.sort_values(by='wind', ascending=True)

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
249,3,4,aug,wed,93.1,157.3,666.7,13.5,21.7,40,0.4,0.0,Mostly affected
258,3,4,aug,sat,91.8,170.9,692.3,13.7,20.6,59,0.9,0.0,Not affected
83,1,2,aug,wed,92.1,111.2,654.1,9.6,16.6,47,0.9,0.0,Not affected
85,1,2,sep,thu,92.9,137.0,706.4,9.2,21.5,15,0.9,0.0,Not affected
129,2,5,oct,sun,92.6,46.5,691.8,8.8,15.4,35,0.9,0.0,Not affected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,8,6,aug,fri,90.1,108.0,529.8,12.5,21.2,51,8.9,0.0,Not affected
411,7,4,feb,fri,84.6,3.2,43.6,3.3,8.2,53,9.4,0.0,Mostly affected
469,6,3,apr,sun,91.0,14.6,25.6,12.3,13.7,33,9.4,0.0,Mostly affected
475,2,5,jun,thu,93.7,121.7,350.2,18.0,22.7,40,9.4,0.0,Mostly affected
168,6,5,mar,fri,91.2,48.3,97.8,12.5,14.6,26,9.4,0.0,Mostly affected

In [ ]:
df.sort_values(by='area', ascending=False)

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
323,3,5,sep,thu,90.7,136.9,822.8,6.8,12.9,39,2.7,0.0,Mostly affected
231,1,5,sep,sun,93.5,149.3,728.6,8.1,27.8,27,3.1,0.0,Mostly affected
368,6,5,sep,sat,91.2,94.3,744.4,8.4,16.8,47,4.9,0.0,Mostly affected
375,6,5,sep,sat,91.2,94.3,744.4,8.4,15.4,57,4.9,0.0,Mostly affected
374,6,5,sep,fri,90.3,290.0,855.3,7.4,10.3,78,4.0,0.0,Mostly affected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,3,5,mar,mon,87.6,52.2,103.8,5.0,9.0,49,2.2,0.0,Not affected
125,3,4,oct,sun,92.6,46.5,691.8,8.8,20.6,24,5.4,0.0,Not affected
124,3,4,sep,fri,94.3,85.1,692.3,15.9,19.8,50,5.4,0.0,Not affected
123,3,4,sep,tue,84.4,73.4,671.9,3.2,17.9,45,3.1,0.0,Not affected
516,6,3,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,Not affected

In [ ]:
transposed = df.transpose()
transposed

,0,1,2,3,4,5,6,7,8,9,...,507,508,509,510,511,512,513,514,515,516
X,7,7,7,8,8,8,8,8,8,7,...,2,1,5,6,8,4,2,7,1,6
Y,5,4,4,6,6,6,6,6,6,5,...,4,2,4,5,6,3,4,4,4,3
month,mar,oct,oct,mar,mar,aug,aug,aug,sep,sep,...,aug,aug,aug,aug,aug,aug,aug,aug,aug,nov
day,fri,tue,sat,fri,sun,sun,mon,mon,tue,sat,...,fri,fri,fri,fri,sun,sun,sun,sun,sat,tue
FFMC,86.2,90.6,90.6,91.7,89.3,92.3,92.3,91.5,91.0,92.5,...,91.0,91.0,91.0,91.0,81.6,81.6,81.6,81.6,94.4,79.5
DMC,26.2,35.4,43.7,33.3,51.3,85.3,88.9,145.4,129.5,88.0,...,166.9,166.9,166.9,166.9,56.7,56.7,56.7,56.7,146.0,3.0
DC,94.3,669.1,686.9,77.5,102.2,488.0,495.6,608.2,692.6,698.6,...,752.6,752.6,752.6,752.6,665.6,665.6,665.6,665.6,614.7,106.7
ISI,5.1,6.7,6.7,9.0,9.6,14.7,8.5,10.7,7.0,7.1,...,7.1,7.1,7.1,7.1,1.9,1.9,1.9,1.9,11.3,1.1
temp,8.2,18.0,14.6,8.3,11.4,22.2,24.1,8.0,13.1,22.8,...,25.9,25.9,21.1,18.2,27.8,27.8,21.9,21.2,25.6,11.8
RH,51,33,33,97,99,29,27,86,63,40,...,41,41,71,62,35,32,71,70,42,31
wind,6.7,0.9,1.3,4.0,1.8,5.4,3.1,2.2,5.4,4.0,...,3.6,3.6,7.6,5.4,2.7,2.7,5.8,6.7,4.0,4.5
rain,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
area,Not affected,Not affected,Not affected,Not affected,Not affected,Not affected,Not affected,Not affected,Not affected,Not affected,...,Not affected,Not affected,Mostly affected,Not affected,Not affected,Mostly affected,Mostly affected,Mostly affected,Not affected,Not affected

In [ ]:
from tables import index
melted = pd.melt(df, value_vars=['temp', 'wind', 'area'])

In [ ]:
melted

     variable            value
0        temp              8.2
1        temp             18.0
2        temp             14.6
3        temp              8.3
4        temp             11.4
...       ...              ...
1546     area  Mostly affected
1547     area  Mostly affected
1548     area  Mostly affected
1549     area     Not affected
1550     area     Not affected

[1551 rows x 2 columns]

In [ ]:
cast = pd.pivot(melted, columns='variable',values='value')
cast

variable             area  temp wind
0                     NaN   8.2  NaN
1                     NaN  18.0  NaN
2                     NaN  14.6  NaN
3                     NaN   8.3  NaN
4                     NaN  11.4  NaN
...                   ...   ...  ...
1546      Mostly affected   NaN  NaN
1547      Mostly affected   NaN  NaN
1548      Mostly affected   NaN  NaN
1549         Not affected   NaN  NaN
1550         Not affected   NaN  NaN

[1551 rows x 3 columns]